<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initialscale=1.0" />
	<title>@ViewData["Title"] - ИСРПО 2</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-appendversion="true" />
	<link rel="stylesheet" href="~/LR5.styles.css" asp-appendversion="true" />
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-smnavbar-light bg-white border-bottom box-shadow mb-3">
			<div class="container-fluid">
				<a class="navbar-brand" asp-controller="Home" asp-action="Index">ИСРПО 2</a>
				<button class="navbar-toggler" type="button" data-bstoggle="collapse" data-bs-target=".navbar-collapse" ariacontrols="navbarSupportedContent" aria-expanded="false" arialabel="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flexjustify-content-center">
					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item">
							<a class="nav-link text-dark" aspcontroller="Home" asp-action="TaskFirst">1 задание</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" aspcontroller="Home" asp-action="TaskSecond">2 задание</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-dark" aspcontroller="Home" asp-action="TaskThird">3 задание</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>
	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; 2024 - lb2 - <a href="https://vk.com/twesteer">Все права защищены</a>
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
