html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.quest onBlock {
    border: dotted 2px black;
    width: 50%;
}

table {
    border: 2px;
}

