@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Здесь задания по 2 лабе ИСРПО</h1>
    <h3>Вариант 15</h3>
    <div class="container" style="margin: 10px">
        <div class="row">

            <div class="col-md-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://w.forfun.com/fetch/e5/e5e37f08b76fefeca67e86bacc0fd29c.jpeg" class="card-img-top" alt="просто красивый кот">
                    <div class="card-body">
                        <h5 class="card-title">Задание 1</h5>
                        <p class="card-text">Дано предложение. Определить число пробелов в нем.</p>
                        <a aspcontroller="Home" asp-action="TaskFirst" class="btn btn-outline-danger">Перейти</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://wp-s.ru/wallpapers/5/16/427582030287843/kot-gulyaet-na-prirode-po-trave.jpg" class="card-img-top" alt="кот на закате">
                    <div class="card-body">
                        <h5 class="card-title">Задание 2</h5>
                        <p class="card-text">
                            Дано целое число N (> 0). Найти значение выражения 1.1 - 1.2 + 1.3 - ...
                            (N слагаемых, знаки чередуются). Условный оператор не
                            использовать.
                        </p>
                        <a aspcontroller="Home" asp-action="TaskSecond" class="btn btn-outline-danger">Перейти</a>
                    </div>
                </div>
            </div>

            <div class="col-md-4 mb-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://mnogo-krolikov.ru/wp-content/uploads/2019/11/http-frognews-ru-wp-content-uploads-2018-01-zloy.jpeg" class="card-img-top" alt="смешной кот">
                    <div class="card-body">
                        <h5 class="card-title">Задание 3</h5>
                        <p class="card-text">
                            Дано слово. Верно ли, что оно начинается и оканчивается на одну и ту
                            же букву?
                        </p>
                        <a aspcontroller="Home" asp-action="TaskThird" class="btn btn-outline-danger">Перейти</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
